html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
	background: #4AA3DF url(../images/menu_background.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.content-section {
	width: 100%;
}

h1, h2, p {
	font-family: 'Dancing Script', cursive;
	color: white;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	margin: 5% 0 2% 0;
}

h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

p {
	font-size: 1.5rem;
}

input[type="button" i], input[type="submit" i], input[type="reset" i] {
	-webkit-appearance: none;
}

input {
	border: 1px solid white;
}

.recherche {
	margin-bottom: 20%;
	margin-top: 20px;
}

#button {
	background-color: transparent;
	font-family: 'Dancing Script', cursive;
	color: white;
	font-size: 1rem;
	padding: 10px;
}

#little_button {
	background-color: transparent;
	font-family: 'Dancing Script', cursive;
	color: white;
	padding: 1rem;
	font-size: 1rem;
	margin-top: 3rem;
	text-align: center;
}

.repas {
	padding-bottom: 10%;
}

img {
	width: 30%;
}

figcaption {
	padding: 2rem;
	font-size: 1rem;
	font-family: 'Dancing Script', cursive;
	color: #fff;
}

#resultat {
	text-align: center;
}

a:link {
	text-decoration: none;
	color: white;
}

.liste_repas {
	margin-bottom: 1rem;
}

.liste_repas h2 {
	font-size: 1rem;
}

.liste_repas p {
	font-size: 1rem;
}

.liste_repas img {
	width: 10%;
}

[data-hidden="true"] {
    display: none;
}


header {
	position: relative;
}

.form-connexion {
	margin-top: 20%;
	padding: 10px;
}

.connexion {
	padding: 4px 0;
}

.validation_connexion {
	padding: 6px 0;
	margin-top: 0;
	border-radius: 0;
}

.connect {
	clear: both;
	overflow: hidden;
	width: 100%;
	margin-top: 9rem;
	height: 5rem;
	padding: 1rem;
}

.hidden {
	display: none;
}

.small {
	transform: translateY(500px);
}

footer {
	margin-top: 20%;
	width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { 
	.small {
		transform: translateY(100px);
	}
}   

@media only screen and (min-width: 30em){

	#button {
		padding: 2rem;
		font-size: 3rem;
		border: solid white;
	}
	
	.small {
		transform: translateY(550px);
	}

	
}

@media only screen and (min-width: 61em){
	

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.5rem;
	}

	#button {
		padding: 3rem;
		font-size: 4rem;
	}
	
	.small {
		transform: translateY(700px);
	}


}

